.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  min-height: 36px;
  padding: 9px 16px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: var(--font-family);
  letter-spacing: 0.03px;
  cursor: pointer;
  background-color: #fff;
  user-select: none;

  + .wrapper {
    margin-left: 8px;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

// BUTTON TYPES
.rounded {
  font-size: 1.4rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 52px;
  color: rgba(22, 24, 35, 0.55);
  border-color: rgba(22, 24, 35, 0.12);

  &:hover {
    border-color: rgba(22, 24, 35, 0.2);
    background-color: rgba(255, 255, 255, 1);
  }
}

.primary {
  color: var(--white);
  border-color: var(--primary);
  background-color: var(--primary);

  &:hover {
    border-color: var(--primary);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
  }
}

.outline {
  color: var(--primary);
  border-color: currentColor;

  &:hover {
    border-color: currentColor;
    background-color: rgba(254, 44, 85, 0.06);
  }

  &:active {
    background-color: rgba(254, 44, 85, 0.16);
  }
}

.textBtn {
  border-color: rgba(22, 24, 35, 0.12);

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.icon + .title,
.title + .icon {
  margin-left: 8px;
}

.icon {
  display: inline-block;
  width: 24px;
  text-align: center;
  color: var(--text-color);
}

// BUTTON SIZES
.small {
  min-width: 88px;
  min-height: 28px;
  padding: 4px 16px;
}

.large {
  min-width: 136px;
  min-height: 48px;
  padding: 14px 16px;
}
