.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  padding-right: var(--default-layout-right-spacer);
  padding-left: var(--default-layout-left-spacer);
  margin-top: var(--default-layout-header-height);
  width: var(--default-layout-width);
  display: flex;
}

.content {
  flex: 1;
}
