.wrapper {
  width: 320px;
  padding: 20px;
  background: var(--white);
  border-radius: 8px;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.avatar {
  width: 44px;
  display: block;
  border-radius: 50%;
  // height: 32px;
}
.header-btn {
  border-radius: 4px;
}

.username {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: -0.028px;
}
.check {
  font-size: 1.4rem;
  width: 14px;
  height: 14px;
  margin-left: 4px;
  color: rgb(32, 312, 236);
}
.name {
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.093px;
}
.user-stat {
  margin-top: 8px;
}
.user-stat-text {
  color: var(--text-color);
  margin-right: 6px;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 2rem;
  display: inline-block;
}
.user-stat-desc {
  color: rgba(22, 24, 35, 0.75);
  font-size: 1.7rem;
  line-height: 2rem;
  display: inline-block;
}
.user-stat-desc:not(:last-of-type) {
  margin-right: 12px;
}

.user-bio {
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.093px;
  padding-top: 16px;
  margin-top: 16px;
  border-top: 1px solid rgba(22, 24, 35, 0.12);
}
