.wrapper {
  position: relative;
  padding-top: 16px;
  padding-left: 8px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 8px;
    right: 8px;
    height: 1px;
    background: rgba(22, 24, 35, 0.12);
    transform: scaleY(0.5);
  }
}
.footer-container {
  margin-bottom: 8px;
}

.footer-item {
  color: rgba(22, 24, 35, 0.5);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.161px;
  display: inline-block;
  margin-right: 6px;
  margin-top: 5px;
}
